html {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    padding: 40px;
    text-align: left;
    background: #13293d;
    color: #dceefc;
    background-image: url("../images/Header-Background.jpg");
  }

  nav {
    display: flex;
    margin-left: auto; 
    background-color: #a459a980;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
  }
  
  nav a {
    color: #dceefc;
    font-size: 1.5em;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }

.purpleLineHoriz {
  border: 5px solid #A459A9;
}

#profilePic{
  height:100%;
  float:left;
}

.workLabels{
  display: flex;
  background-color: #a459a9c0;
  align-items: center;
  border-radius: 50px;
  width: max-content;
  padding: 10px;
  color:#dceefc;
  position: relative;
  left: 15px;
  top: 80px;
  font-weight: bold;
}

.workImage{
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.left-box {
  flex: 0 0 20%;
  color:#03034b
}

.right-box {
  flex: 0 0 80%;
  color:#03034b
}

.titleCardHeightLarge{
  height: 450px;
}

.titleCardHeightSmall{
  height: 130px;
}

.title-section{
  margin: 10px;
  border-right: 5px solid #A459A9;
  text-align: right;
  padding: 10px;
  font-size: 1.4em;
  font-weight: bold;
}

.about-Box{
  flex: stretch;
  flex-wrap: wrap;
  height: 150px;
  font-size: 1.2em;
}

.item-Box{
  flex: stretch;
  flex-wrap: wrap;
  height: 150px;
  opacity: 0.67;
  transition: opacity 0.5s;
}

.item-Box:hover{
  opacity: 0.99;
}

.contact-Box{
  flex: stretch;
  flex-wrap: wrap;
  height: 150px;
  font-size: 1.2em;
}

.boxMargin-10{
  margin: 10px;
}

.boxMargin-bottomLeft-10{
  margin-bottom: 10px;
  margin-left: 10px;
}

.boxMargin-bottomLeftRight-10{
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
  justify-content: start; /* Left alignment */
  margin-right: 10px;
}